{% extends 'main.html' %}

{% load static%}

{% block title %}
Tester - Create new profile
{% endblock %}

{% block header %}
Tester - Create new profile
{% endblock %}

{% block content %}
  <div class="create-profile">
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <label for="first_name">First name:</label>
      <input type="text" name="first_name" id="first_name" value="{{ request.user.first_name }}"> <br>

      <label for="last_name">Last name:</label>
      <input type="text" name="last_name" id="last_name" value="{{ request.user.last_name }}"> <br>

      <label for="email">E-mail:</label>
      <input type="text" name="email" id="email" value="{{ request.user.email }}"> <br>

      <button type="submit">Create</button>
    </form>
  </div>
{% endblock %}
