{% extends 'main.html' %}

{% load static%}

{% block title %}
Tester - Edit profile
{% endblock %}

{% block header %}
Tester - Edit profile
{% endblock %}

{% block content %}
  <div class="edit-profile">
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <label for="first_name_private">Private: </label>
      {% if profile.first_name_private %}
        <input type="checkbox" id="first_name_private" name="first_name_private" checked>
      {% else %}
        <input type="checkbox" id="first_name_private" name="first_name_private">
      {% endif %}
      <label for="first_name">First name:</label>
      <input type="text" name="first_name" id="first_name" value="{{ request.user.first_name }}"> <br>

      <label for="last_name_private">Private: </label>
      {% if profile.last_name_private %}
        <input type="checkbox" id="last_name_private" name="last_name_private" checked>
      {% else %}
        <input type="checkbox" id="last_name_private" name="last_name_private">
      {% endif %}
      <label for="last_name">Last name:</label>
      <input type="text" name="last_name" id="last_name" value="{{ request.user.last_name }}"> <br>

      <label for="email_private">Private: </label>
      {% if profile.email_private %}
        <input type="checkbox" id="email_private" name="email_private" checked>
      {% else %}
        <input type="checkbox" id="email_private" name="email_private">
      {% endif %}
      <label for="email">E-mail:</label>
      <input type="text" name="email" id="email" value="{{ request.user.email }}"> <br>

      <button type="submit">Save changes</button>
    </form>
  </div>
{% endblock %}