{% load static %}

<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>

        {% if request.user.is_authenticated %}
            <li><a href="{% url 'my_tests' %}">MyTests</a></li>
            <li><a href="{% url 'available_tests' %}">CreateTest</a></li>
            <li class="last-item"><a href="{% url 'profile' user.profile.id %}">{{ request.user.username }}</a></li>
            <li class="last-item"><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
        {% if not request.user.is_authenticated %}
            <li class="last-item"><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>