{% extends 'main.html' %}

{% load static %}

{% block title %} Tester - new test {% endblock %}
{% block header %} Tester - new test {% endblock %}

{% block content %}
  <h2>New room</h2>
  <form method="post" action="/create_test/">
    {% csrf_token %}
    <label for="question_count">Number of questions:</label>
    <input type="text" id="question_count" name="question_count" value=""> <br>

    <label for="answer_count">Number of answers:</label>
    <input type="text" id="answer_count" name="answer_count" value=""> <br>

    <button type="submit">Create</button>
  </form>


{% endblock %}